<div class = "container">
  <center>
    <div  id="main">
      <input id='city' placeholder="City name...">
    </div>

    <table id="result" class="well">
      <tbody>
      </tbody>
    </table>

    <div id="current" class="well-md"></div>
  </center>
</div>